/* Sun Skin*/
/* ------------------------------------------------------------------------ */
/* Color
/* ------------------------------------------------------------------------ */
.jx-rebuild-section-title-1 .jx-rebuild-seperator-icon i , .jx-rebuild-servicelist-2 .servicelist-item:hover .icon i , .jx-rebuild-protfolio .category-menu ul li a:hover , 
.jx-rebuild-newsletter .white-column .title , .jx-rebuild-footer-1 .jx-rebuild-footer h3.jx-rebuild-section-title-1 .jx-rebuild-seperator-icon i , .jx-rebuild-servicelist-2 .servicelist-item:hover .icon i , .jx-rebuild-protfolio .category-menu ul li a:hover , .jx-rebuild-newsletter .white-column .title , .jx-rebuild-footer-1 .jx-rebuild-footer h3 , .jx-rebuild-widget-recent-post .jx-rebuild-btn-default:hover , .jx-rebuild-footer-section .jx-rebuild-about .jx-rebuild-btn-default:hover , .jx-rebuild-topbar .jx-rebuild-right-topbar li span , .jx-rebuild-topbar .jx-rebuild-right-topbar li a:hover i , .menu > li > a:hover , .jx-rebuild-widget-recent-post ul li a:hover , ul.default li::before , .jx-rebuild-page-subhead .breadcrumb , .menu .submenu li:hover > a,.sbOptions a:hover, .sbOptions a:focus, .sbOptions a.sbFocus,.jx-rebuild-blog-more a:hover , .jx-rebuild-header .header-info ul , .jx-rebuild-tetimonials-1 .description::before , .jx-rebuild-blog-tag li:hover a , .jx-rebuild-sercvice-list li::before , .menu li.has-child > a::after,.jx-rebuild-servicebox-item:hover .jx-rebuild-image-title-over a i,.jx-rebuild-servicebox-item:hover .jx-rebuild-image-title-over a , .jx-rebuild-blog-2 .readmore i , .jx-rebuild-protfolio .jx-rebuild-portfolio-filter a.current , .jx-rebuild-tetimonials-2 i , #wp-calendar a , .jx-rebuild-author-name a , .jx-rebuild-section-title-6 .jx-rebuild-seperator-icon i , .jx-rebuild-section-title-5 .jx-rebuild-seperator-icon i , .jx-rebuild-section-title-7 .jx-rebuild-seperator-icon i , .jx-rebuild-flipbox-2 .jx-rebuild-flipbox-backitem .readmore a .plus-icon:hover , .jx-rebuild-flipbox-1 .jx-rebuild-flipbox-backitem .readmore a .plus-icon:hover , .jx-rebuild-flipbox-3 .jx-rebuild-flipbox-backitem .readmore a .plus-icon:hover , .jx-rebuild-blockquote .quote-b::before , .menu .submenu li.menu-item-has-children > a::after , .woocommerce .star-rating span , .eg-rebuild-portfolio-element-0:hover , .eg-rebuild-portfolio-element-1:hover , .woocommerce a.button:hover , .woocommerce ul.products li.product .price , #sidebar .widget_product_search input[type="submit"]:hover , .woocommerce button.button:hover , .sbSelector:link , .jx-rebuild-mainmenu .submenu li.menu-item-has-children > a::after , .jx-rebuild-servicebox-item:hover .icon , .jx-rebuild-tetimonials-5 .description::before {
	color: #ffb300 !important;
}

.jx-rebuild-blog-1 .jx-rebuild-blog-title-metabox .jx-rebuild-date .day , .jx-rebuild-project-nav .jx-rebuild-project-nav-icons li i:hover , ul li span.fa {
	color: #ffb300 !important;
}


.jx-rebuild-page-title a  , .jx-rebuild-breadcrumb a , .jx-rebuild-team-member-4 .team-social li a i , .jx-rebuild-partner-logo-list .content-position .web_link a , .jx-rebuild-blog-1 .jx-rebuild-blog-title-metabox .jx-rebuild-blog-meta li a , .nav-previous a , .jx-rebuild-copy-right a , .jx-rebuild-blog-image .jx-rebuild-blog-btns-hover i , .jx-rebuild-servicebox-item:hover .icon  , .contact-submit button:hover , .contact-submit button:hover i , .jx-rebuild-servicelist-4 .icon i , .jx-rebuild-partner-logo li:hover a span , .jx-rebuild-related-title a:hover , #sidebar .widget_categories li a , .woocommerce .pagination .page-numbers li .page-numbers , .jx-rebuild-pagination .page-numbers , .jx-rebuild-image-placholder .title:hover {
	color: #ffb300;
}
/* ------------------------------------------------------------------------ */
/* Background
/* ------------------------------------------------------------------------ */
::selection 
{
	background:#ffb300 !important;
}
::-moz-selection
{
	background:#ffb300 !important;
}
.jx-rebuild-servicebox-2 .jx-rebuild-servicebox-item .jx-rebuild-image-wrapper .jx-rebuild-image-title-over a , .shortcode_tab_e.jx-rebuild-white-tab.jx-rebuild-arrow-tab ul li , .jx-rebuild-list-group.square-light span , .jx-rebuild-list-group.circle-light span , .jx-rebuild-single-point > a , .jx-rebuild-flipbox-2 .jx-rebuild-flipbox-item , .jx-rebuild-flipbox-3 .jx-rebuild-flipbox-item , .jx-rebuild-quote-smallbox form input.wpcf7-submit:hover , .jx-rebuild-quote-smallbox .jx-heading , .contact-submit button , .jx-rebuild-servicebox-2 .readmore .plus-icon , .jx-rebuild-tagline-box-2 .button , .jx-rebuild-servicelist-4 .readmore , .woocommerce ul.products .item-product .add_to_cart_button , .jx-rebuild-page-title span , .jx-rebuild-blog-more a , #sidebar .widget_product_search input[type="submit"] , .woocommerce-page .woocommerce button.button , .jx-rebuild-big-iconed-button a:hover , .wpcf7-form-control.wpcf7-submit , .woocommerce ul.products .item-product .add_to_cart_button , .jx-rebuild-image-placholder .title , .jx-default-bg , .jx-defualt-bg , .jx-rebuild-servicebox-3 .title-hr , .jx-rebuild-price-2 .title , .jx-rebuild-price-3 .title , .jx-rebuild-price-4 .price {
	background:#ffb300;
}
.jx-rebuild-container.jx-rebuild-darkgrey-bg .jx-rebuild-tagline-box-slope , .jx-rebuild-skillsbar-1 .skillbar-bar , .jx-rebuild-accordion-3 .circle .open .title, .jx-rebuild-accordion-3 .circle .title:hover , .jx-rebuild-team-member-1 .plus-icon , .jx-rebuild-team-member-1 .team-social li i , .jx-rebuild-newsletter .darkgrey-column .form .jx-rebuild-submit , .jx-rebuild-price-1 .jx-rebuild-button .price-btn , .jx-rebuild-footer-newsletter .jx-rebuild-form-wrapper button , .jx-rebuild-container.jx-rebuild-grey-bg .jx-rebuild-subhead-slope , .jx-rebuild-contact-form input.jx-rebuild-submit,.jx-rebuild-tags-footer ul li:hover,.grid-item,.jx-rebuild-sidebar-menu ul li.active,.jx-rebuild-quote-box .contact-submit button,.jx-rebuild-pagination .page-number.current,.jx-rebuild-pagination .page-number:hover,.search-input button,.jx-rebuild-sidebar-tags li:hover , .jx-rebuild-header-search , .jx-rebuild-tetimonials-1 .jx-rebuild-testimonial-details , .jx-rebuild-counter-up-box span , .jx-rebuild-process .jx-rebuild-process-step , .menu .submenu li:hover > a , .jx-rebuild-btn-default:hover i.btn-icon-right , .grid-item .jx-rebuild-portfolio-plus-hover i, .portfolio-item .jx-rebuild-portfolio-plus-hover i , .jx-rebuild-page-title .jx-rebuild-breaducrumb span , .jx-rebuild-completed-prjcts-info , .jx-rebuild-project-progress .skillbar .percent-bg , .jx-rebuild-project-progress .jx-rebuild-project-image .image-hover , .jx-rebuild-sidebar-menu ul li:hover a , .jx-rebuild-sidebar-menu ul li.current_page_item a , .woocommerce .pagination .page-numbers li span.current , .woocommerce ul.products li.product .onsale::after , .woocommerce .pagination .page-numbers li a:hover , .woocommerce-page #sidebar .product-categories li:hover , .jx-rebuild-accordion .none .open > .title .jx-rebuild-accordion-icon::after , .style_b tr:hover , .jx-rebuild-servicebox-1.bg_color , .jx-rebuild-pagination span.page-numbers.current , .jx-rebuild-pagination .page-numbers:hover , .jx-rebuild-servicelist-1 .icon > div , .jx-rebuild-blog-2 .date-position , .jx-rebuild-quote-smallbox .jx-heading , .style_b tr:hover , .jx-rebuild-gredient-1 , .jx-rebuild-mainmenu .submenu li:hover > a , .woocommerce-page .woocommerce input.button , .jx-rebuild-tetimonials-4 .description , .jx-rebuild-tetimonials-3
{
	background:#ffb300 !important;
}
tr:hover , .woocommerce-page.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
	background:#ffb300 !important;
}
#sidebar .widget_search input.search-submit , #sidebar .widget_tag_cloud a:hover , .jx-rebuild-accordion .circle .open .title, .jx-rebuild-accordion .circle .title:hover , .jx-rebuild-md-content h3 {
	background:#ffb300 !important;
}
	
/* ------------------------------------------------------------------------ */
/* Background Color
/* ------------------------------------------------------------------------ */
.jx-rebuild-section-title-4 .jx-rebuild-seperator-hr , .dropcap.dark {
	background-color: #ffb300 !important;
}
.jx-rebuild-default-bg , .countup_hr , .jx-rebuild-blog-1 .hr-line , table th,.jx-rebuild-caption-big-icon i,.jx-rebuild-quote-rquest .jx-rebuild-button a,.jx-rebuild-content-box .jx-rebuild-item:hover,.jx-rebuild-request-quote .jx-rebuild-seperator-hr , .jx-rebuild-row-badge ,.jx-rebuild-section-title-3 .jx-rebuild-seperator-hr , .jx-rebuild-section-title-4 .jx-rebuild-seperator-hr , .woocommerce-page.woocommerce .widget_price_filter .ui-slider .ui-slider-handle , .jx-rebuild-quote-rquest .jx-rebuild-quote-button a , .jx-rebuild-widget-request-quote .jx-rebuild-quote-button a , .jx-rebuild-price-form .jx-rebuild-price-more-info , .jx-rebuild-price-form input[type="submit"]
{
	background-color: #ffb300 !important;
}
.jx-rebuild-flipbox-1 .jx-rebuild-flipbox-backitem , .jx-rebuild-section-title-2 .jx-rebuild-seperator-hr , .jx-rebuild-blog-2 .hr-line , .jx-rebuild-skillsbar-4 .skillbar-bar , .eg-rebuild-style-1-element-2 , .eg-rebuild-portfolio-container,.rebuild-tp-shape {
    background-color: #ffb300 !important;
}
.shortcode_tab_e.jx-rebuild-white-tab li.resp-tab-active , .woocommerce-cart.woocommerce-page .woocommerce a.button.alt , .woocommerce-checkout.woocommerce-page .woocommerce input.button.alt {
    background-color: #ffb300;
}
.eg-rebuild-style-1-element-2:hover {
    background-color: #333333 !important;
}
/* ------------------------------------------------------------------------ */
/* Background RGBA Color
/* ------------------------------------------------------------------------ */
.jx-rebuild-tint:before , .jx-rebuild-project-progress .jx-rebuild-project-view-image .image-hover , .tp-rightarrow.custom.tparrows , .tp-leftarrow.custom.tparrows:hover {
	background: rgba(255, 179, 0, 0.90) !important;
}
.jx-rebuild-blog-image .jx-rebuild-image-hoverlay , .jx-rebuild-team-member-6 .plus-hover .team-image-overlay , .jx-rebuild-team-member-4 .team-member-item:hover .team-image-overlay , .jx-rebuild-price-2 .price {
		background: rgba(255, 179, 0, 0.80) !important;	
}
/* ------------------------------------------------------------------------ */
/* Border Color
/* ------------------------------------------------------------------------ */
.jx-rebuild-servicebox-item:hover .readmore .plus-icon , .jx-rebuild-servicebox-item:hover .icon i::after , .jx-rebuild-servicelist-2 .servicelist-item:hover .icon i::after , .jx-rebuild-skillsbar-1 .skillbar , .menu > li > a:hover , .jx-rebuild-servicelist-1 .icon , .grid-item .jx-rebuild-portfolio-plus-hover i::after , .jx-rebuild-small-point.jx-rebuild-single-point > a , .jx-rebuild-section-title-7 .jx-rebuild-title , .jx-rebuild-widget-request-quote .jx-rebuild-quote-button a , .jx-rebuild-headline.jx-rebuild-border , .tp-caption.rebuild-caption-1, .rebuild-caption-1 , .jx-rebuild-image-placholder .title:hover , .jx-rebuild-servicebox-3 .jx-rebuild-servicebox-item:hover .icon
{
	border-color:#ffb300 !important;
}
/* ------------------------------------------------------------------------ */
/* Border Left Color
/* ------------------------------------------------------------------------ */
.jx-rebuild-blockquote .quote-a.quote-border , .jx-rebuild-row-badge .jx-rebuild-badge-shape , .jx-rebuild-section-title-6 .jx-rebuild-title {
	border-left-color:#ffb300 !important;
}
/* ------------------------------------------------------------------------ */
/* Border Right Color
/* ------------------------------------------------------------------------ */
.jx-rebuild-row-badge .jx-rebuild-badge-shape , .jx-rebuild-section-title-6 .jx-rebuild-title {
	border-right-color:#ffb300 !important;
}
/* ------------------------------------------------------------------------ */
/* Border Top Color
/* ------------------------------------------------------------------------ */
.menu > li:hover , .shortcode_tab_e li.resp-tab-active , .jx-rebuild-mainmenu > li:hover {
	border-top-color:#ffb300 !important;
}
/* ------------------------------------------------------------------------ */
/* Border Bottom Color
/* ------------------------------------------------------------------------ */
.jx-rebuild-section-title-1 .jx-rebuild-left-border , .jx-rebuild-section-title-1 .jx-rebuild-right-border , .jx-rebuild-servicelist-1 .category::after , .menu li .submenu li.col , .jx-rebuild-section-title-5 .jx-rebuild-left-border , .jx-rebuild-section-title-5 .jx-rebuild-right-border , .jx-rebuild-servicebox-1 .top_grey_border .top
 {
	border-bottom-color:#ffb300 !important;
 }
 
 
 .jx-rebuild-price-2 .price::after , .jx-rebuild-price-4 .price::after , .jx-rebuild-tetimonials-4 .description::after
{
	border-color: #ffb300 transparent transparent transparent;
}

